body {
    font-size: 16px;
    margin: 10px auto 0 auto;
    font-family: 'Roboto', sans-serif;
}

header {
    width: auto;
    height: 330px;
    display: flex;
    flex-direction: column;
}

.header-img {
    position: relative;
    box-shadow: 0px 4px 4px #0000002b;
}

#omf {
    width: 200px;
    display: flex;
    margin: 0 auto 10px auto;
}

.loca {
    text-align: center;
    background-color: rgb(196, 196, 196);
    padding: 5px 0;
    height: 22px;
}

.icone-loca {
    margin-right: 10px;
}

.tr {
    background-color: rgb(234, 234, 234);
    height: 240px;
}

h1 {
    font-size: 25px;
    text-align: center;
}

.c1h1 {
    margin: 20px 0 0 0;
}

.c2h1 {
    margin: 0 0 10px 0;
}

.texte-tr-un {
    font-size: 18px;
    text-align: center;
}

.texte-tr-deux {
    font-size: 18px;
    text-align: center;
    margin-bottom: 25px;
}

.tr a {
    display: block;
    margin: 0 auto;
    width: 200px;
    height: 32px;
    background: linear-gradient(to bottom right, #FF79DA, #9356DC);
    border-radius: 19px;
    padding: 3px 6px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 2px 2px 6px rgb(169, 169, 169);
}

#explore {
    color: white;
    text-decoration: none;
}

.tr a:hover {
    opacity: 0.9;
    box-shadow: 3px 3px 8px rgb(88, 88, 88);
}

.s-un {
    margin-bottom: 40px;
}

h2 {
    padding-left: 15px;
    font-size: 22px;
    margin-left: 30px;
}

ul {
    list-style-type: none;
}

.li-s-un {
    border: 1px solid rgb(250, 250, 250);
    border-radius: 15px;
    background-color: rgb(250, 250, 250);
    height: 50px;
    margin: 10px 0;
    width: 95%;
    display: flex;
    align-items: center;
    box-shadow: 2px 2px 6px rgb(169, 169, 169);
}

.li-s-un:hover {
    background-color: #e7d3ff;
    border: #e7d3ff;
}

.nombre {
    font-size: 15px;
    border: 1px solid #9356DC ;
    background-color: #9356DC;
    color: white;
    border-radius: 50px;
}

.un {
    padding: 3px 7px;
    margin-left: -10px ;
    margin-right: 15px;
}

.deux {
    padding: 3px 6px;
    margin-left: -10px;
    margin-right: 15px;
}

.trois {
    padding: 3px 4px;
    margin-left: -10px;
    margin-right: 15px;
}

.tlm {
    margin-right: 15px;
    color: rgb(169, 169, 169);
}

.li-s-un:hover .tlm {
    color: #9356DC;
}

.s-deux {
    background-color: rgb(234, 234, 234);
    padding-top: 30px;
    display: flex;
    flex-direction: column;
    width: 100%;
}

.restaurant {
    display: flex;
    justify-content: space-around;
}

.restaurant a {
    width: 90%;
    text-decoration: none;
}

.carte_restaurants {
    height: 255px;
    display: flex;
    flex-direction: column;
}

.carte-image {
    position: relative;
    width: 100%;
    height: 150px;
}

.img_restau {
    width: 100%;
    object-fit: cover;
    height: 150px;
    border-radius: 15px 15px 0 0;
    z-index: 1;
}

.nv {
    position: absolute;
    z-index: 2;
    border: 1px solid #99e2d0;
    background-color: #99e2d0;
    color: rgb(14, 117, 74);
    border-radius: 2px;
    width: 72px;
    height: 22px;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 10px;
    right: 10px;
}

.carte-corps {
    background-color: white;
    height: 70px;
    border-radius: 0 0 15px 15px;
}

.pl-coeur {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.coeur {
    font-size: 25px;
    padding: 22px 22px 0px 0px;
    color: black;
}

.fa-heart::after{
    content: "\f004";
    margin: 0px 0px 0px -25px;
}

.fa-heart:hover:after {
    font-weight: 600;
    color: transparent;
    transition: 800ms ease-in-out;
    background-image: linear-gradient(#9356DC, #FF79DA) !important;
    -webkit-background-clip: text;
}

.carte-titre {
    margin: 10px 0 5px 0;
    color: black;
    padding-left: 10px;
}

.carte-legende {
    margin: -10px 0 15px 0;
    color: black;
    padding-left: 10px;
}

footer {
    background-color: black;
    height: 215px;
}

#omfpt {
    filter: contrast(0%) brightness(190%);
    width: 110px;
    margin-top: 4%;
    margin-left: 5%;
}

.tt-lien {
    list-style-type: none;
    padding: 0;
}

.lien {
    background-color: black;
    border-color: black;
    color: white;
    margin-left: 5%;
    margin-top: 10px;
    margin-bottom: 10px;
}

.lien a {
    color: white;
    text-decoration: none;
}

.icone-footer {
    padding: 0 10px 0 0;
}
